.container{
    padding: 20px;
    justify-content:center;
    font-size: 30px ;
    display: flex;
}
.buttons {
    display: inline;
    border-radius: 6px;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.keyboard {
    display: flex;
    flex-direction: column;
    margin-left: -8px;
}